<div>
	<h3>Schritt 2: Erkennen der Kommunikationskan&auml;le</h3>
	<p>
		Dieser Schritt l&auml;uft ebenfalls automatisch ab, funktioniert aber nur, wenn mindestens ein VBUS erkannt wurde.
		<br />
		Klicken Sie dazu nur auf "Jetzt Kommunikationskan&auml;le erkennen"
	</p>
	<div class="controls">
		<div class="button" data-action="getCommunicationChannels">
			Jetzt Kommunikationskan&auml;le erkennen
		</div>
	</div>
	<ul class="devices">
		%devices%
	</ul>
	<div class="controls">
		<div class="button" data-action="sendAllForms" data-target="Resol/ajax?wizard=3">
			Weiter
		</div>
	</div>
</div>