<li>
	Ger&auml;t: <span class="deviceName">%_name%<span class="ajaxLoader" style="display:none;">suche Kan&auml;le...</span></span>
	<br />
	<ul style="display:none">
		<li class="template">
			<fieldset>
				<legend></legend>
				<form method="GET" action="Resol/ajax">
					<input type="hidden" name="action" value="createChannel" />
					<table>
						<tbody>
							<tr>
								<td>
									<label for="name">Name:</label>
								</td>
								<td>
									<input type="text" name="name" value="" class="legendChanger" />
								</td>
							</tr>
							<tr>
								<td>
									<label for="device">VBUS:</label>
								</td>
								<td>
									<input type="text" name="device" value="" />
								</td>
							</tr>
							<tr>
								<td>
									<label for="source">Quelle:</label>
								</td>
								<td>
									<input type="text" name="source" value="" readonly />
								</td>
							</tr>
							<tr>
								<td>
									<label for="destination">Ziel:</label>
								</td>
								<td>
									<input type="text" name="destination" value="" readonly />
								</td>
							</tr>
							<tr>
								<td>
									<label for="framecount">Anzahl Frames:</label>
								</td>
								<td>
									<input type="text" name="framecount" value="" readonly />
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</fieldset>
		</li>
	</ul>
</li>