<div>
	<div>
		Im Moment ist die Resol Anbindung noch nicht eingerichtet.
		<br />
		<br />
		Die Einrichtung besteht aus folgenden Schritten:
		<ol>
			<li>
				Erkennen der VBUS-Lan Schnittstellen <span class="icon ui-icon ui-icon-help" data-type="tooltip" data-source="Resol/ajax?tooltip=detectNetworkDeviceToolTip"></span>
			</li>
			<li>
				Erkennen der Kommunikationskan&auml;le <span class="icon ui-icon ui-icon-help" data-type="tooltip" data-source="Resol/ajax?tooltip=detectChannelsToolTip"></span>
			</li>
			<li>
				FHEM Ger&auml;te einstellen <span class="icon ui-icon ui-icon-help" data-type="tooltip" data-source="Resol/ajax?tooltip=createFhemDevicesToolTip"></span>
			</li>
		</ol>
		<br />
		Gl&uuml;cklicher Weise, gibt es einen Assistenten, welcher Sie durch die Einrichtung begleiten wird.
		<br />
	</div>
	<div class="controls">
		<div class="button next" data-target="Resol/ajax?wizard=1">
			Assistenten starten
		</div>
	</div>
</div>